/* Faculty-style academic design */

body {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #ffffff;
  color: #111;
  margin: 0;
  line-height: 1.7;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 1px solid #e6e6e6;
  padding: 40px 0 30px 0;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 25px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #003366;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 50px;
}

h2 {
  font-size: 1.5em;
  margin-top: 50px;
}

ul {
  padding-left: 20px;
}

footer {
  margin-top: 80px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
  font-size: 0.9em;
  color: #666;
}
